
@font-face {
  font-family: 'DINPro';
  src: url('fonts/din/DINPro.eot?#iefix') format('embedded-opentype'),  url('fonts/din/DINPro.otf')  format('opentype'),
	     url('fonts/din/DINPro.woff') format('woff'), url('fonts/din/DINPro.ttf')  format('truetype'), url('fonts/din/DINPro.svg#DINPro') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro-Light';
  src: url('fonts/din/DINPro-Light.eot?#iefix') format('embedded-opentype'),  url('fonts/din/DINPro-Light.otf')  format('opentype'),
	     url('fonts/din/DINPro-Light.woff') format('woff'), url('fonts/din/DINPro-Light.ttf')  format('truetype'), url('fonts/din/DINPro-Light.svg#DINPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro-Medium';
  src: url('fonts/din/DINPro-Medium.eot?#iefix') format('embedded-opentype'),  url('fonts/din/DINPro-Medium.otf')  format('opentype'),
	     url('fonts/din/DINPro-Medium.woff') format('woff'), url('fonts/din/DINPro-Medium.ttf')  format('truetype'), url('fonts/din/DINPro-Medium.svg#DINPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro-Italic';
  src: url('fonts/din/DINPro-Italic.eot?#iefix') format('embedded-opentype'),  url('fonts/din/DINPro-Italic.otf')  format('opentype'),
	     url('fonts/din/DINPro-Italic.woff') format('woff'), url('fonts/din/DINPro-Italic.ttf')  format('truetype'), url('fonts/din/DINPro-Italic.svg#DINPro-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'DINPro-Bold';
  src: url('fonts/din/DINPro-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/din/DINPro-Bold.otf')  format('opentype'),
	     url('fonts/din/DINPro-Bold.woff') format('woff'), url('fonts/din/DINPro-Bold.ttf')  format('truetype'), url('fonts/din/DINPro-Bold.svg#DINPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'DINPro-Black';
  src: url('fonts/din/DINPro-Black.eot?#iefix') format('embedded-opentype'),  url('fonts/din/DINPro-Black.otf')  format('opentype'),
	     url('fonts/din/DINPro-Black.woff') format('woff'), url('fonts/din/DINPro-Black.ttf')  format('truetype'), url('fonts/din/DINPro-Black.svg#DINPro-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro-Cond';
  src: url('fonts/din/DINPro-Cond.eot?#iefix') format('embedded-opentype'),  url('fonts/din/DINPro-Cond.otf')  format('opentype'),
	     url('fonts/din/DINPro-Cond.woff') format('woff'), url('fonts/din/DINPro-Cond.ttf')  format('truetype'), url('fonts/din/DINPro-Cond.svg#DINPro-Cond') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'DINPro-CondBold';
  src: url('fonts/din/DINPro-CondBold.eot?#iefix') format('embedded-opentype'),  url('fonts/din/DINPro-CondBold.otf')  format('opentype'),
	     url('fonts/din/DINPro-CondBold.woff') format('woff'), url('fonts/din/DINPro-CondBold.ttf')  format('truetype'), url('fonts/din/DINPro-CondBold.svg#DINPro-CondBold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'MarkPro';
  src: url('fonts/mark/MarkPro.eot?#iefix') format('embedded-opentype'),  url('fonts/mark/MarkPro.otf')  format('opentype'),
	     url('fonts/mark/MarkPro.woff') format('woff'), url('fonts/mark/MarkPro.ttf')  format('truetype'), url('fonts/mark/MarkPro.svg#MarkPro') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MarkPro-Italic';
  src: url('fonts/mark/MarkPro-Italic.eot?#iefix') format('embedded-opentype'),  url('fonts/mark/MarkPro-Italic.otf')  format('opentype'),
	     url('fonts/mark/MarkPro-Italic.woff') format('woff'), url('fonts/mark/MarkPro-Italic.ttf')  format('truetype'), url('fonts/mark/MarkPro-Italic.svg#MarkPro-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'MarkPro-Light';
  src: url('fonts/mark/MarkPro-Light.eot?#iefix') format('embedded-opentype'),  url('fonts/mark/MarkPro-Light.otf')  format('opentype'),
	     url('fonts/mark/MarkPro-Light.woff') format('woff'), url('fonts/mark/MarkPro-Light.ttf')  format('truetype'), url('fonts/mark/MarkPro-Light.svg#MarkPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'MarkPro-LightItalic';
  src: url('fonts/mark/MarkPro-LightItalic.eot?#iefix') format('embedded-opentype'),  url('fonts/mark/MarkPro-LightItalic.otf')  format('opentype'),
	     url('fonts/mark/MarkPro-LightItalic.woff') format('woff'), url('fonts/mark/MarkPro-LightItalic.ttf')  format('truetype'), url('fonts/mark/MarkPro-LightItalic.svg#MarkPro-LightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'MarkPro-Medium';
  src: url('fonts/mark/MarkPro-Medium.eot?#iefix') format('embedded-opentype'),  url('fonts/mark/MarkPro-Medium.otf')  format('opentype'),
	     url('fonts/mark/MarkPro-Medium.woff') format('woff'), url('fonts/mark/MarkPro-Medium.ttf')  format('truetype'), url('fonts/mark/MarkPro-Medium.svg#MarkPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MarkPro-Bold';
  src: url('fonts/mark/MarkPro-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/mark/MarkPro-Bold.otf')  format('opentype'),
	     url('fonts/mark/MarkPro-Bold.woff') format('woff'), url('fonts/mark/MarkPro-Bold.ttf')  format('truetype'), url('fonts/mark/MarkPro-Bold.svg#MarkPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MarkPro-Black';
  src: url('fonts/mark/MarkPro-Black.eot?#iefix') format('embedded-opentype'),  url('fonts/mark/MarkPro-Black.otf')  format('opentype'),
	     url('fonts/mark/MarkPro-Black.woff') format('woff'), url('fonts/mark/MarkPro-Black.ttf')  format('truetype'), url('fonts/mark/MarkPro-Black.svg#MarkPro-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'MarkPro-Book';
  src: url('fonts/mark/MarkPro-Book.eot?#iefix') format('embedded-opentype'),  url('fonts/mark/MarkPro-Book.otf')  format('opentype'),
	     url('fonts/mark/MarkPro-Book.woff') format('woff'), url('fonts/mark/MarkPro-Book.ttf')  format('truetype'), url('fonts/mark/MarkPro-Book.svg#MarkPro-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
